@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  scroll-behavior: smooth;
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  background-image: url("/src/assets/svg/Aboutvector.svg"),
    url("/src/assets/svg/Bodyvector.svg"),
    url("/src/assets/svg/Partnervector.svg");
  background-position: 150px 2525px, 1350px 3050px, -30px 3340px;
  background-repeat: no-repeat, no-repeat, no-repeat;
  font-family: "Bakbak one", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #040b11;
  width: 100%;
  overflow-x: hidden;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.slider-container {
  background: url("/src/assets/images/ALIENS.png") no-repeat;
  background-color: rgba(0, 0, 0, 0.9);
  background-size: contain;
  height: 939px;
  width: 100vw;
}

.box {
  width: 330px;
  gap: 20px;
  background: #141b22;
  body-hide::-webkbody {
    display: none;
  }
}

.zoomin {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.zoomin:hover,
.zoomin.visible {
  opacity: 0.9;
  transform: translateY(-10px);
}

/* mEDIA qUERIES */

@media (max-width: 768px) {
  body {
    background-image: none;
  }
}

@media (min-width: 320px), (max-width: 1281px) {
  .slider-container {
    background: url("/src/assets/images/ALIENS.png") no-repeat;
    background-color: rgba(0, 0, 0, 0.9);
    background-size: contain;
    height: 100vh;
    width: auto;
  }
}
